body {
  width: 100vw;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ruslan Display";
}

.navigationWrapper {
  height: 100vh;
}

.nav {
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-bottom-width: 3px;
  border-image-source: linear-gradient(to left, #000000, #ffffff);
}

.navigation {
  z-index: 100;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 66px;
  background: linear-gradient(90deg, #0a162c, #ffffff);
  color: white;
  text-shadow: #ff0000 1px 0 10px;
  -webkit-text-stroke: 0.5px #c71515;
  cursor: pointer;
  position: fixed;
  top: 0;
  /*padding-top: 60px;*/
}

.bmwNav {
  flex-basis: 50%;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure {
  background: url("src/assets/bmw-m-logo-and-colors.jpg") center center;
  background-size: cover;
  width: 1440px;
  height: 156px;
}
.baanner2 {
  background: url("src/assets/majestic-feline-looks-into-the-camera-eyes-generated-by-ai.jpg")
    center center;
  background-size: cover;
  width: 1440px;
  height: 800px;
}

.cards {
  display: flex;
  position: relative;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1400px; /* Ширина grid-контейнера */
  column-gap: 100px; /* Отступ между колонками */
  row-gap: 100px; /* Отступ между рядами */
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center; /* Центрируем карточку по горизонтали */
  height: 100vh;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 35px;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #000000;
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card {
  width: 250px;
  background-color: #ccc;
  height: 250px;
  box-shadow: 1px 2px 4px rgb(143, 143, 143);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 60px;
  transition: 0.2s;
  position: relative;
  margin-top: auto;
}

.card__gray {
  background-color: #ccc;
  box-shadow: 1px 2px 4px rgb(143, 143, 143);
}

.card__red {
  background-color: #e6230f;
  box-shadow: 1px 2px 4px rgb(41, 0, 2);
}

.card__blue {
  background-color: #1d63a2;
  box-shadow: 1px 2px 4px rgb(18, 46, 96);
}

.card__dark-blue {
  background-color: #013976;
  box-shadow: 1px 2px 4px rgb(6, 26, 69);
}

/* При наведении на карточку - меняем цвет тени */
.card__gray:hover {
  box-shadow: 0 0px 16px 8px rgb(248, 0, 0);
}
.card__red:hover {
  box-shadow: 0 0px 16px 8px rgb(255, 255, 255);
}
.card__dark-blue:hover {
  box-shadow: 0 0px 16px 8px rgb(85, 85, 255);
}
.card__blue:hover {
  box-shadow: 0 0px 16px 8px rgb(4, 217, 255);
}

.card__top {
  flex: 0 0 150px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

.card__imagee {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__imagee > img {
  justify-content: center; /* Центрируем карточку по горизонтали */
  margin-left: 20px;
  width: 200px;
  height: 200px;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

.card__imagees {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__imagees > img {
  justify-content: center; /* Центрируем карточку по горизонтали */
  margin-left: 20px;
  width: 200px;
  height: 200px;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

.card__imagess {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__imagess > img {
  justify-content: center; /* Центрируем карточку по горизонтали */
  margin-left: 20px;
  width: 200px;
  height: 200px;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

.card__imagen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__imagen > img {
  justify-content: center; /* Центрируем карточку по горизонтали */
  margin-left: 40px;
  width: 155px;
  height: 155px;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__imagen:hover > img {
  transform: scale(1.1);
}

/* При наведении - увеличиваем картинку */
.card__imagess:hover > img {
  transform: scale(1.1);
}

/* При наведении - увеличиваем картинку */
.card__imagees:hover > img {
  transform: scale(1.1);
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}
.card__imagee:hover > img {
  transform: scale(1.1);
}

.video-container {
  background-size: cover;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Центрируем карточку по горизонтали */
  align-items: flex-end; /* Размещаем карточку внизу контейнера */
  height: 100vh;
}
.baanner3 {
  background: url("src/assets/149086-audi-bmw-rulevoe_koleso-lichnyj_roskoshnyj_avtomobil-rychag-3840x2160.jpg")
    center center;
  background-size: cover;
  width: 1440px;
  height: 800px;
}

.baanner4 {
  background: url("src/assets/img2.akspic.ru-koshachih-ogon-plamya-bakenbardy-teplo-2912x1632.png")
    center center;
  background-size: cover;
  width: 1440px;
  height: 800px;
}
.dop {
  background-size: cover;
  width: 100%;
  /*margin: 0 auto;*/
  display: flex;
  margin-left: 20px;
  /*justify-content: center; !* Центрируем карточку по горизонтали *!*/
  align-items: flex-end; /* Размещаем карточку внизу контейнера */
  height: 100vh;
  color: #ffa343;
  /*background-color: red;*/
  font-size: 45px; /* Устанавливаем размер текста в 16 пикселей */
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  /*text-shadow: 0 0 7px #000000, 0 0 10px #000000, 0 0 21px #000000, 0 0 42px #f80000, 0 0 82px #ff073a, 0 0 92px #ff073a, 0 0 102px #f09, 0 0 151px #f09;*/
  /*filter: hue-rotate(100deg);*/
  margin-bottom: 50px; /* Отступ снизу контейнера */
  text-shadow: #ff0000 1px 0 10px;
  -webkit-text-stroke: 0.5px #000000;
}
p::after {
  content: "\A"; /* Принудительный перенос строки */
  white-space: pre; /* Устанавливаем пробельные символы */
  margin-bottom: 50px; /* Отступ снизу контейнера */
}

.baanner5 {
  background: url("src/assets/bmw_rul_logotip_110564_3840x2160.jpeg") center center;
  background-size: cover;
  width: 1440px;
  height: 800px;
}
.ban5 {
  color: #ffffff;
  font-size: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Центрируем карточку по горизонтали */
  align-items: flex-end; /* Размещаем карточку внизу контейнера */
  height: 100vh;
  text-decoration: underline; /* Подчеркивание ссылки */
}

.ban5:hover {
  color: #0b348a; /* Цвет ссылки при наведении */
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
}

.textmbw1{
  margin-bottom: 10px;
  color: white;
  box-shadow: 0 0px 16px 8px rgb(85, 85, 255);
  display: flex;
  place-items: center end;

}
